@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:"Comic Neue",cursive;

background:#8de8ff;

}